FinalRound/*
FirstRound/*
IntermediateRound/*
READ_KEY/*
WRITE_ADDRESS/*
WRITE_LENGTH/*
READ_ADDRESS/*
READ_LENGTH/*
WRITE_COUNTER/*
GET_STATUS/*
READ_COUNTER/*
START_ENCRYPT/*
WRITE_KEY/*
STORE/*
LOAD/*
OPERATE/*
invariants/*


