[submodule "examples/RISC-V/simulator"]
	path = examples/RISC-V/simulator
	url = https://github.com/zhanghongce/riscv-ila-sim.git
[submodule "extern/glog"]
	path = extern/glog
	url = https://github.com/google/glog.git
[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/abseil/googletest.git
[submodule "extern/json"]
	path = extern/json
	url = https://github.com/nlohmann/json.git
