
# Test Outputs
verify/*
verify_jg/*
verify_pvholder/*
disprove/*
vmem/invariants
vmem/SWAP
vmem/SWAPExpand
vmem/Rd
vmem/ADD1
vmem/LOAD
vmem/STORE
vmem/rfarray_rf6/*
undetf/INST
undetf/INST2
undetf/INST3
undetf2/INST

